<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>User Management System</h1>
        <input type="number" id="inputUser" placeholder="Enter amount" />
        <input type="password" id="inputPwd" placeholder="Enter password" />
        <button id="login" herf="{{url_for(dashboard)}}">Login</button>
        <a id="sign up" href="{{ url_for('register') }}">Sign Up</a>
        <div id="output"></div>
    </div>   
</body>
</html>